* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color: whitesmoke;
	background-color: #161616;
}

h1,
p {
	text-align: center;
	margin: 2rem 0 4rem 0;
}
p {
	padding: 0 3%;
}

input[type='text'] {
	width: 50%;
	padding: 1% 0;
	position: sticky;
}

.accordion {
	max-width: 600px;
	margin: 2rem auto;
}

.accordion-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	background-color: green;
}

.accordion-title:hover {
	background-color: lightgreen;
}

.accordion-title,
.accordion-content {
	padding: 1rem;
}

.accordion-content {
	background-color: lightcoral;
	justify-content: center;
}
.frame-container{
	display: grid;
	justify-content: center;
	margin:0;
}
iframe {
	margin: 2% 0;
	--preferred-width: fit-content;
	width: var(--preferred-width);
	height: calc(2.4 * var(--preferred-width));
}
@media only screen and (max-width: 700px) {
	body {
		font-size: 18px;
	}

	.accordion {
		width: 90%;
	}
	iframe {
		max-width: 100;
		max-height: 200;
	}
}
